@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Eliel Website</title>
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <script>

    </script>
</head>
<body>
    <div class="page">
        <div class="header">
            @Html.Action("StatusUserBar", "UserAccess")
            <ul>
                <li class="selected">@Html.ActionLink("Home", "Master", controllerName: "Home")</li>
                <li>
                    <div>
                        @Html.ActionLink("Connect", "UserLogin", controllerName: "UserAccess")
                    </div>
                </li>
                <li>
                    <div>
                        @Html.ActionLink("Your basket", "Basket", controllerName: "Basket")
                    </div>
                </li>
                <li>
                    <div>
                        @Html.ActionLink("Upload to the bord", "UpdateItem", controllerName: "UploadItem")
                    </div>
                </li>
                <li>
                    <div>
                        @Html.ActionLink("Registration", "Registration", controllerName: "Registration")
                    </div>
                </li>
                <li>
                    <div>
                        @Html.ActionLink("About", "About", controllerName: "Home")
                    </div>
                </li>
                <li>
                    <div>
                        @Html.ActionLink("Contact", "Contact", controllerName: "Home")
                    </div>
                </li>
            </ul>
        </div>
        <div class="body">
            @RenderBody()

        </div>
    </div>
</body>
</html>  